@{
    ViewBag.Title = "About";
}

<h1>Suck at managing money? Make life easier with Bill Pay!</h1>

<div class="col-md-offset-4">
    <div style="font-style:italic">
<h3>Learn all about Bill Pay here</h3>
    </div>
</div>
<br /><br />

<div class="row">
    <div class="col-md-4">
        <div style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
<h4>Some of our great features include: </h4>
        </div>
    ~ a safe and effiecient environment for our users.
    <br />
    ~ a bill calendar to view upcoming bills.
    <br />
    ~ a bill calculator to manage personal budget.
    <br />
    ~ email notification system that notifies users of upcoming and past due bills.
    <br />
    ~ its FREE to use!
    </div>
    <div class="col-md-offset-8">
        <div style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
        <h4>Contact Info</h4>
        </div>
        <address>
            100 University Way<br />
            Spartanburg, SC 29303-6399<br />
            <abbr title="Phone">Phone:</abbr>
            864.555.0100
        </address>
    </div>
</div>
<br />
<div class="col-md-offset-4">
    Ready to stop sucking with money? @Html.ActionLink("Resgister Here", "Register", "Account")
</div>